<div class="field clear">
  <label class="pull-right label large"><%= f.link_to_remove "Remove Error" %></label>
  <%= f.label :code %><%= f.text_field :code %>
  <br />
  <%= f.label :name %><%= f.text_field :name %>
  <br />
  <%= f.label :description %><%= f.text_field :description, :class => "span13" %>
</div>
<hr />
